.lead__title {
    margin: 0 auto 32px;
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .lead__title {
        padding-left: 24px;
        padding-right: 24px;
        font-size: 62px;
        line-height: 1.1;
    }
}

@media (max-width: 500px) {
    .lead__title {
        font-size: 48px;
        line-height: 1.1;
    }
}

@media screen and (max-width: 414px) {
    .lead__title {
        margin-bottom: 16px;
        font-size: 40px;
        line-height: 110%;
        padding-left: 16px;
        padding-right: 16px;
    }
}