.footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 0 auto 24px;
    padding-left: 48px;
    padding-right: 48px;
}

@media screen and (max-width: 414px) {
    .footer {
        flex-direction: column;
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        padding-left: 24px;
        padding-right: 24px;
    }
}